# lustre-zfs-test
#
# templates/build-lustre-rpms.sh.j2 - template for lustre build script
# Author: Ilari Korhonen, KTH Royal Institute of Technology
#
# Copyright (C) 2016-2017 KTH Royal Institute of Technology. All rights reserved.
# See LICENSE file for more information.

#!/bin/sh

BUILDROOT={{ lustre_buildroot }}

git clone git://git.hpdd.intel.com/fs/lustre-release.git $BUILDROOT
(cd $BUILDROOT; sh ./autogen.sh && ./configure --disable-ldiskfs --with-linux=/usr/src/kernels/`uname -r` && make rpms)
