# lustre-zfs-test
#
# templates/lustre-ldev.conf.j2 - template for lustre ldev.conf file
# Author: Ilari Korhonen, KTH Royal Institute of Technology
#
# Copyright (C) 2016-2017 KTH Royal Institute of Technology. All rights reserved.
# See LICENSE file for more information.


{{ lustre_target_mgs }}		-	mgs     zfs:lustre-mgs/mgs
{{ lustre_target_mdt0 }}	-	mdt0    zfs:lustre-mdt0/mdt0
{{ lustre_target_ost0 }}	-	ost0    zfs:lustre-ost0/ost0
